In [0]:
CREATE TABLE IF NOT EXISTS `companies-data`.reference.company_tickers (
    company_name STRING,
    company_number STRING,
    ticker STRING
);
INSERT INTO `companies-data`.reference.company_tickers
VALUES
    ('ARM LIMITED', '02557590', 'ARM'),
    ('HSBC HOLDINGS PLC', '00617987', 'HSBA.L'),
    ('ASTRAZENECA PLC', '02723534', 'AZN.L'),
    ('SHELL PLC', '04366849', 'SHEL.L'),
    ('LINDE', 'BR025083', 'LIN'),
    ('RIO TINTO PLC', '00719885', 'RIO.L'),
    ('UNILEVER PLC', '00041424', 'ULVR.L'),
    ('ROLLS-ROYCE HOLDINGS PLC', '07524813', 'RR.L'),
    ('BRITISH AMERICAN TOBACCO P.L.C.', '03407696', 'BATS.L'),
    ('ARM HOLDINGS PLC', '11299879', 'ARM'),
    ('GSK PLC', '03888792', 'GSK.L'),
    ('BP P.L.C.', '00102498', 'BP.L'),
    ('BARCLAYS PLC', '00048839', 'BARC.L'),
    ('LLOYDS BANKING GROUP PLC', 'SC095000', 'LLOY.L'),
    ('NATIONAL GRID PLC', '04031152', 'NG.L'),
    ('BAE SYSTEMS PLC', '01470151', 'BA.L'),
    ('AON GLOBAL LIMITED', '07876075', 'AON'),
    ('NATWEST GROUP PLC', 'SC045551', 'NWG.L'),
    ('RELX PLC', '00077536', 'REL.L'),
    ('STANDARD CHARTERED PLC', '00966425', 'STAN.L'),
    ('LONDON STOCK EXCHANGE GROUP PLC', '05369106', 'LSEG.L');


    SELECT *
FROM `companies-data`.reference.company_tickers;